@use '../global/_colors.scss' as colors;
@use '../utilities/fonts' as u;

body {
    font-family: u.$poppins;
    font-weight: 400;
}

.title {

    color: colors.$Grey-500;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 275;
    line-height: 140%;
    font-style: normal;
    letter-spacing: 0.01563rem;

    &__part2 {
        font-weight: 600;
    } 

    &__paragraph {
        color: colors.$Grey-500;
        text-align: center;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 140%;
        font-style: normal;
        letter-spacing: 0.0065rem;
    }
}

.card {

    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.50);
    background-color: colors.$White;

    &__title {
        align-self: stretch;
        color: colors.$Grey-500;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 135%;
        font-style: normal;
    }

    &__paragraph {
        color: colors.$Grey-400;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 160%;
        font-style: normal;
        letter-spacing: 0.00563rem;
    }
}

.card1 {
    border-top: 5px solid colors.$Cyan;
}

.card2 {
    border-top: 5px solid colors.$Red;
}

.card3 {
    border-top: 5px solid colors.$Orange;
}

.card4 {
    border-top: 5px solid colors.$Blue;
}

