.main {
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.title-box {
    margin: 3.5rem auto 0 auto;
    max-width: 19.625rem;

    @media (min-width: 23.4375rem) {
        margin: 8rem auto 0 auto;
        min-width: 33.75rem;
    }

}

.title {
    padding-bottom: 1rem;
}

.title__paragraph {
    padding-bottom: 3.75rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .38rem;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    min-width: 19.625rem;
    max-width: 21.875rem;    
    
    &__paragraph {
        padding-bottom: 2rem;
    }
}

.icon {
    align-self: flex-end;
    width: 4rem;
    height: 4rem;
}

.card-layout {
    margin: 0;
 
    display: grid;
    
    @media (min-width: 23.4375rem) {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c" "d";

        .title-box {
            min-width: 19.625rem;
        }
    }

    @media (min-width: 48rem) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: ". a a ." "b b c c" ". d d .";

        .title-box {
            min-width: 33.75rem;
        }
    }


    @media (min-width: 90rem) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". b ." "a b d" "a c d" ". c .";
    }
    
    :nth-child(1) {
        grid-area: a;
    }
    :nth-child(2) {
        grid-area: b;
    }
    :nth-child(3) {
        grid-area: c;
    }
    :nth-child(4) {
        grid-area: d;
    }
}